/*
 * #############################################
 * * ##### Sasson - advanced drupal theming. #####
 * * #############################################
 * 
 * * @file sasson/styles/sasson.scss
 */
#page {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}


#header, #main-menu, #secondary-menu, #featured, #main, #footer {
  display: inline;
  float: left;
  margin-left: 1.0417%;
  margin-right: 1.0417%;
  width: 97.9167%;
}


#logo {
  float: left;
}


#sidebar-first {
  display: inline;
  float: left;
  margin-left: 1.0417%;
  margin-right: 1.0417%;
  width: 22.9167%;
}


#sidebar-second {
  display: inline;
  float: left;
  margin-left: 1.0417%;
  margin-right: 1.0417%;
  width: 22.9167%;
}


.one-sidebar.sidebar-first #main {
  display: inline;
  float: left;
  margin-left: 1.0417%;
  margin-right: 1.0417%;
  width: 72.9167%;
  left: 25%;
  position: relative;
}

.one-sidebar.sidebar-first #sidebar-first {
  left: -75%;
  position: relative;
}


.one-sidebar.sidebar-second #main {
  display: inline;
  float: left;
  margin-left: 1.0417%;
  margin-right: 1.0417%;
  width: 72.9167%;
}


.two-sidebars #main {
  display: inline;
  float: left;
  margin-left: 1.0417%;
  margin-right: 1.0417%;
  width: 47.9167%;
  left: 25%;
  position: relative;
}

.two-sidebars #sidebar-first {
  left: -50%;
  position: relative;
}


@media (max-width: 960px) {  #page {  width: 100%;}}

@media (max-width: 767px) {  .two-sidebars #main {  display: inline;  float: left;  margin-left: 1.0417%;  margin-right: 1.0417%;  width: 72.9167%;  left: 25%;  position: relative;}.two-sidebars #sidebar-first {  left: -75%;  position: relative;}.two-sidebars #sidebar-second {  display: inline;  float: left;  margin-left: 1.0417%;  margin-right: 1.0417%;  width: 97.9167%;}}

@media (max-width: 480px) {  body.two-sidebars #main, body.two-sidebars #sidebar-first, body.two-sidebars #sidebar-second, body.one-sidebar.sidebar-first #main, body.one-sidebar.sidebar-first #sidebar-first, body.one-sidebar.sidebar-first #sidebar-second, body.one-sidebar.sidebar-second #main, body.one-sidebar.sidebar-second #sidebar-first, body.one-sidebar.sidebar-second #sidebar-second {  display: inline;  float: left;  margin-left: 1.0417%;  margin-right: 1.0417%;  width: 97.9167%;  right: auto;  left: auto;  /* * Reset grid-pull */}}

@media -sass-debug-info{filename{font-family:file\:\/\/sites\/all\/themes\/sasson\/styles\/sasson\.scss;}line{font-family:'117';}}
#page:before, #header:before, #featured:before, #footer:before, #page:after, #header:after, #featured:after, #footer:after {
  content: "\0020";
  display: table;
  *zoom: 1;
}

#page:after, #header:after, #featured:after, #footer:after {
  clear: both;
}

#page, #header, #featured, #footer {
  zoom: 1;
}


