#admin-menu {

}

#civicrm-menu {
	margin-top: 29px;
	z-index: 100;
	background-color: transparent;
	background-image: url("../images/bleeds.png");
	background-repeat: repeat-x;
	background-position: 0px -30px;
	background-attachment: scroll;
	background-size: auto auto;
	height: 30px;
}

#civicrm-menu li {
	padding-top: 5px;
	padding-bottom: 4px;
}

#civicrm-menu li#crm-qsearch {
	padding-top: 3px !important;
	padding-bottom: 4px !important;
}

#civicrm-menu li#crm-qsearch:hover {
	background-color: transparent !important;
}

body.page-civicrm #branding {
	display: none;
}

html body.page-civicrm {
	margin-top: 59px !important;
}

.crm-container .crm-form-block {
	background-color: transparent;
}

/*
.crm-container form {
	background-color: #EEE;
}
*/

.crm-accordion-wrapper,
.crm-accordion-body .form-item {
	background-color: #EEE;
}

.crm-block table,
.crm-form-block table {
	background-color: #EEE;
}

.crm-container table.form-layout-compressed {
	background-color: #EEE;
}

.crm-container .ui-tabs .ui-tabs-nav {
	background-color: #EEE;
}

.crm-container .odd-row, .crm-container .odd, tbody.scrollContent {
    background-color: transparent;
}

.crm-container .listing-box,
.crm-container .listing-box .odd-row,
.crm-container .listing-box .even-row,
.crm-container input.crm_phone,
.crm-container input.crm_postal_code,
.crm-container input.crm_postal_code_suffix {
	background-color: white;
}

.crm-submit-buttons {
	background-color: white;
}

.crm-container input.form-checkbox,
.crm-container input.form-radio {
	margin-left: 1em;
	margin-right: .5em;
}

.crm-container input[value="1"] {
	margin-left: 0;
}

.crm-form-block {
	padding-bottom: 0px !important;
}

.crm-block .crm-submit-buttons:first-of-type,
.crm-form-block .crm-submit-buttons:first-of-type {
	display: none !important;
}
