#admin-menu {

}

#civicrm-menu {
	margin-top: 29px;
	z-index: 100;
}

body.page-civicrm #branding {
	margin-top: 56px;
}

.crm-container .crm-form-block {
	background-color: transparent;
}

.crm-container form {
	background-color: #EEE;
}

.crm-block table {
	background-color: #EEE;
}

.crm-submit-buttons {
	background-color: white;
}

.crm-form-block {
	padding-bottom: 0px !important;
}

.crm-block .crm-submit-buttons:first-of-type,
.crm-form-block .crm-submit-buttons:first-of-type {
	display: none;
}